.solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.solutions-title {
    position: relative;
}

.solutions-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.solutions-title img {
    position: absolute;
    top: -35px;
    left: 160px;
    opacity: 0.8;
    z-index: -1;
}

.solutions-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 20px;
    border: 2px solid #fff;
    transition: 0.4s;
}

.solutions-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
}

.solutions-format h3 {
    font-size: 28px;
    font-weight: 600;
}

.solutions-format h2 {
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #08dfd4 10%, #c815ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.solutions-format p {
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}

.solutions-readmore {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.solutions-format:hover {
    border: 2px solid #08dfd4;
    background-image: linear-gradient(45deg, #dfcd0810 10%, #44ff1533 90%);
    transform: scale(1.05);
    transition: 0.4s;
}

.product-request {
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 5px;
    border-radius: 50px;
    position: relative;
    top: -50px;
    border: 2px solid #08dfd4;
    padding: 30px 30px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
    align-items: center;
}

.product-request:hover {
    gap: 30px;
    transition: 0.6s;
}

@media (max-width: 1280px) {
    .solutions {
        align-items: center;
        gap: 20px;
        margin: 20px 20px;
    }
    .solutions-title h1 {
        padding: 0;
        font-size: clamp(45px, 8vw, 50px);
        line-height: 1.1;
        text-align: center;
        margin-top: -30px;
        margin-bottom: 30px;
        width: 100%;
        font-weight: 600;
    }
    .solutions-title img {
        width: 100px;
        left: 60%;
        transform: translateX(-50%);
        top: -20px
    }
    .solutions-format {
        gap: 10px;
        padding: 10px;
    }
    .solutions-format h3 {
        font-size: 22px;
        font-weight: 600;
    }
    .solutions-format h2 {
        font-size: 20px;
    }
    .solutions-format p {
        font-size: 16px;
        line-height: 26px;
        max-width: 300px;
    }
    .solutions-readmore {
        gap: 10px;
    }
    .solutions-readmore img {
        width: 20px;
    }
    .solutions-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .product-request {
        width: clamp(260px, 90vw, 80%);
        margin: auto auto;
    }
}