.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.about-title{
    position: relative;

}
.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.about-title img{
    position: absolute;
    top: -35px;
    left: 160px;
    opacity: 0.8;
    z-index: -1;
}
.about-section{
    display: flex;
    gap: 60px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
    font-size: 24px;
    font-weight: 500;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(270deg, #08dcdf 10%, #4015ff 100%);
}
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 80px;
}
.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achievement h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #08dfad 10%, #8215ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievement p{
    font-size: 22px;
    font-weight: 500;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
}

@media (max-width: 1280px){
    .about{
        gap: 50px;
        margin: 50px 6%;
        align-items: center;
    }
    .about-title h1{
        font-size: 50px;
        padding: 0;
        /* margin-left: 45px; */
    }
    .about-title img{
        width: 200px;
        right: 0px;
        left: 125px;
        top: 0px;
    }
    .about-section{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        border-left: 0px;
        border-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .about-left{
        display: none;
    }
    .about-para{
        font-size: 18px;
        line-height: 25px;
        text-align: justify;
    }
    .about-skills{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .about-skill{
        gap: 20px;
        align-items: center;
    }
    .about-skill p{
        font-size: 16px;
        min-width: 90px;
    }
    .about-skill hr{
        height: 6px;
    }
    .about-achievements{
        justify-content: space-between;
        margin-left: 2px;
        margin-right: 2px;
    }
    .about-achievement{
        gap: 10px;
    }
    .about-achievement h1{
        font-size: 34px;
        font-weight: 700;
    }
    .about-achievement p{
        text-align: center;
        font-size: 16px;
    }
}